{{ form_start(form) }}

    <div class="shadow p-3 mb-2 bg-light containerFormulaire">
        {# {{ form_widget(form) }} #}

        {{form_row(form.nom)}}
        
        {{form_row(form.prenom)}}

        {{form_row(form.email)}}

            {# mot de passe mis en place dans le controller #}
        {# {{form_row(form.password)}} #}

        {{form_row(form.roles)}}
            

        <button class="btn btn-success mb-4 mt-4">{{ button_label|default('Enregistrer') }}</button>
        

    </div>


{{ form_end(form) }}
