{{ form_start(form) }}

    <div>
        {# {{ form_widget(form) }} #}

        {{form_row(form.nom)}} 
        
        {{form_row(form.prenom)}}

        {{form_row(form.email)}}

            {# mot de passe mis en place dans le controller #}
        {# {{form_row(form.password)}} #}

        {{form_row(form.roles)}}

        <button class="btn bouton mt-4">{{ button_label|default('Valider') }}</button>
        

    </div>


{{ form_end(form) }}
