{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="containerPages">
    
        <div class="pages">
            <h1 class="title">Utilisateurs</h1>
            

            {# BOUTON pour créer un nouvel utillisateur #}
            <a class="btn btn-success mt-4 mb-4" href="{{ path('app_user_new') }}">
                Créer un nouvel utilisateur
            </a>
            
            <div class="table-responsive-sm">

                <table class="table mb-5 tableau">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Email</th>
                            <th>Rôle</th>
                            {# <th>Password</th> #}
                            
                            <th style="background-color:transparent !important; "></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            {# <td>{{ user.id }}</td> #}

                            {# nom de l'utilisateur en majuscule #}
                            <td>{{ user.nom|upper }}</td>

                            {# prénom de l'utilisateur 1ère lettre en majuscule #}
                            <td>{{ user.prenom|capitalize }}</td>

                            {# mail de l'utilisateur #}
                            <td class="col-3">{{ user.email }}</td>    
                            <td >
                                {% if user.roleInt == 1 %}
                                    {# Administrateur #}
                                {% else %}
                                    {% if user.roleInt == 2 %}
                                    Commercial
                                    {% else %}
                                        {% if user.roleInt == 3 %}
                                        
                                            Client
                                    
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                                
                            </td>

                            {# menu déroulant VOIR / MODIFIER / SUPPRIMER #}
                            <td class="col-1" >
                                <div class="dropdown-center"  >

                                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        {# 
                                            Icones bootstrap "..." 
                                            width & height : pour changer la taille
                                            fill : pour changer la couleur ( couleur bootstap / couleur hexadecimal / couleur écrite ex: "red")
                                        #}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="#D6D6D6" class="bi bi-three-dots" viewBox="0 0 16 16">
                                            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                                        </svg>
                                    </button>

                                    <ul class="dropdown-menu">
                                        {# VOIR le materiel sélectionner (:/materiel/show.html.twig) #}
                                        <li><a class="dropdown-item" href="{{ path('app_user_show', {'id': user.id}) }}">Voir</a></li>

                                        {# MODIFIER le materiel sélectionner (:/materiel/edit.html.twig) #}
                                        <li><a class="dropdown-item" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a></li>

                                        {# SUPPRIMER le materiel sélectionner (:/materiel/_delete_form.html.twig) #}
                                        <li><a class="dropdown-item" href="{{ path('app_user_delete', {'id': user.id}) }}">Supprimer</a></li>
                                    </ul>
                                </div>
                            </td>
                            {# <td>{{ user.password }}</td> #}
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">Aucun enregistrement trouvé</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table> 
                
            </div>
        </div>

    </div>


{% endblock %}
