{% extends 'base.html.twig' %}

{% block title %}Index devis{% endblock %}

{# Page pour afficher tous les devis #}

{% block body %}

    <div class="containerPages">

        <h1 class="title" >Devis</h1>

        {# BOUTON pour CREER un nouveau devis via la :/devis/new.html.twig #}
        <a class="btn btn-success mb-4" href="{{ path('app_devis_new') }}">Créer un nouveau devis</a>

        <table class="table table-striped">
            <thead class="table-success">
                <tr>
                    <th>N° de devis</th>
                    <th>N° de commande</th>
                    <th>Commercial</th>
                    <th>Client</th>
                    <th>Categorie</th>
                    <th>Services</th>
                    <th>Prix Minimum</th>
                    <th>Prix</th>
                    <th>Date de validation de la commande</th>
                    <th>Voir</th>
                    <th>Modifier</th>
                </tr>
            </thead>


            <tbody>

            {# BOUCLE pour afficher les données récupérer via la table commande #}
                {% for devi in devis %}
                    <tr>

                {# n° du devis #}

                        <td>{{ devi.numDevis }}</td>

                {# N° de la commande #}
                        
                        <td>{{ devi.command.nbCommande}} </td>

                {# Nom du commercial #}

                        <td>{{ devi.command.user.nom}} </td>

                {# Nom du Client #}

                        <td>{{ devi.command.client.user.nom|upper}} {{ devi.command.client.user.prenom|capitalize}} </td>

                        {% if devi.command.servicesDetail %}

                {# Categorie #}

                                <td style="text-align:center">
                        {# le filtre split permet de separer un string en tableau a chaque fois qu'une rencontre le separateur indiqué #}
                            {% set foo2 = devi.service| split(",") %}
                        {# A chaque tour de boucle, foo contient un certain nombre de tableau #}
                            {% for items in foo2 %}
                        {# on affiche chaque tableau contenu dans foo2 #}
                                {{items|e}}<br>
                            {% endfor %}
                                </td>

                {# Service #}

                                <td>
                        {# le filtre split permet de separer un string en tableau a chaque fois qu'une rencontre le separateur indiqué #}
                            {% set foo = devi.serviceDetail| split(",") %}
                        {# A chaque tour de boucle, foo contient un certain nombre de tableau #}
                            {% for items in foo %}
                        {# on affiche chaque tableau contenu dans foo #}
                                {{items|e}}<br>
                            {% endfor %}
                                </td>

                {# PrixMin #}

                                <td>
                            {% for item in devi.command.servicesDetail  %}
                                
                                {{ item.prixMin}} <br>
                            {% else %}
                                
                                Pas de donnée
                            {% endfor %}
                                </td>

                {# PrixMax #}

                                <td>
                            {% for item in devi.command.servicesDetail  %}
                                
                                {{ item.prix}} <br>
                            {% else %}
                                
                                Pas de donnée
                            {% endfor %}
                                </td>
                                
                {# Date de validation #}

                            {% if devi.command.validationDate %}
                                
                                {# date('d/m/y') => format de la date #}
                                <td>{{ devi.command.validationDate|date('d/m/y')}} </td>

                            {% endif %}
                        {% else %}
                        {# Si aucunes données n'est retrouvé dans services détails on aura cet affichage #}
                            <td>Pas de donnée</td>
                            <td>Pas de donnée</td>
                            <td>Pas de donnée</td>
                            <td>Pas de donnée</td>
                            
                        {% endif %}
                        <td>
                            {# BOUTON qui permet de VOIR le devis sélectionner (:/devis/show.html.twig) #}
                            <a class="btn btn-warning text-light" href="{{ path('app_devis_show', {'id': devi.id}) }}">Voir</a>
                        </td>
                        <td>
                            {# BOUTON qui permet de MODIFIER le devis sélectionner (:/devis/edit.html.twig) #}
                            <a class="btn btn-primary" href="{{ path('app_devis_edit', {'id': devi.id}) }}">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    {# permet l'affichage "pas de donnée" si les informations du tableau ne sont pas trouvé#}
                    <tr>
                        <td colspan="3">Pas de donnée</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    
{% endblock %}
