{% extends 'base.html.twig' %}

{% block title %}Index devis{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}

    <div class="containerPages">

        <div class="pages">
            <h1 class="title" >Devis</h1>

{#            
                <a class="btn btn-success mb-4" href="{{ path('app_devis_new') }}">Créer un nouveau devis</a>
             #}

            <div class="table-responsive-sm">
                <table class="table mb-5 tableau" id="test">

                    <thead>
                        <tr>
                            <th>Ref</th>
                            <th>N°commande</th>
                            <th>Client</th>
                            <th>Commercial</th>
                            <th>Statut</th>
                            <th>Catégorie</th>
                            {# <th>Services</th> #}
                            {# <th>Prix Min</th>
                            <th>Prix</th> #}
                            <th>Commande validée le</th>
                            <th style="background-color:transparent !important; "></th>
                        </tr>
                    </thead>


                    <tbody>

                    {# BOUCLE pour afficher les données récupérer via la table commande #}

                    {% for devi in devis %}
                        <tr>
                            {# n° du devis #}
                            <td>{{ devi.numDevis }}</td>

                            {# N° de la commande #}
                            <td>{{ devi.command.nbCommande}} </td>
                            
                            {# Nom du Client #}
                            <td>{{ devi.command.client.societe|upper}} </td>

                            {# Nom du commercial #}
                            <td>{{ devi.command.user.nom}} </td>

                            



                            {# Statut du devis #}
                            <td>
                                {% if devi.status == "pending" %}
                                    En attente
                                {% else %}
                                    {% if devi.status == "accepted" %}
                                        Accepter
                                    {% else %}
                                        {% if devi.status == "aborted" %}
                                            Annuler
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            
                            
                            </td>

                            {% if devi.command.servicesDetail %}

                                {# Categorie #}
                                <td>
                                    {# le filtre split permet de separer un string en tableau a chaque fois qu'une rencontre le separateur indiqué #}
                                    {% set foo2 = devi.service| split(",") %}
                                    {# A chaque tour de boucle, foo contient un certain nombre de tableau #}
                                    {% for items in foo2 %}
                                        {# on affiche chaque tableau contenu dans foo2 #}
                                        {{items|e}}<br>
                                    {% endfor %}
                                </td>

                                {# Service #}

                                {# <td> #}
                                    {# le filtre split permet de separer un string en tableau a chaque fois qu'une rencontre le separateur indiqué #}
                                    {# {% set foo = devi.serviceDetail| split(",") %} #}

                                    {# A chaque tour de boucle, foo contient un certain nombre de tableau #}
                                    {# {% for items in foo %} #}
                                    
                                        {# on affiche chaque tableau contenu dans foo #}
                                        {# {{items|e}}<br> #}
                                    {# {% endfor %} #}
                                {# </td>  #}

                                {# PrixMin #}

                                {# <td>

                                    {% for item in devi.command.servicesDetail  %}
                                        
                                        {{ item.prixMin}} <br>
                                    {% else %}
                                    
                                        Pas de donnée
                                    {% endfor %}
                                </td> #}

                                {# PrixMax #}


                                        {# <td>

                                    {% for item in devi.command.servicesDetail  %}
                                        
                                        {{ item.prix}}€ <br>
                                    {% else %}
                                        
                                        Pas de donnée
                                    {% endfor %}

                                </td> #}
                                    
                                {# Date de validation #}

                                {% if devi.command.validationDate %}
                                    
                                    {# date('d/m/y') => format de la date #}
                                    <td>{{ devi.command.validationDate|date('d/m/y')}} </td>

                                {% endif %}

                                {% else %}
                                {# Si aucunes données n'est retrouvé dans services détails on aura cet affichage #}
                                    <td>Pas de donnée</td>
                                    <td>Pas de donnée</td>
                                    <td>Pas de donnée</td>
                                    <td>Pas de donnée</td>
                                    
                                {% endif %}

                                <td class="col-1" >
                                    <div class="dropdown-center"  >

                                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            {# 
                                                Icones bootstrap "..." 
                                                width & height : pour changer la taille
                                                fill : pour changer la couleur ( couleur bootstap / couleur hexadecimal / couleur écrite ex: "red")
                                            #}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="#D6D6D6" class="bi bi-three-dots" viewBox="0 0 16 16">
                                                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                                            </svg>
                                        </button>

                                        <ul class="dropdown-menu">
                                            {# VOIR le devis sélectionner (:/devis/show.html.twig) #}
                                            <li><a class="dropdown-item" href="{{ path('app_devis_show', {'id': devi.id}) }}">Voir</a></li>

                                            {# MODIFIER le devis sélectionner (:/devis/edit.html.twig) #}
                                            <li><a class="dropdown-item" href="{{ path('app_devis_edit', {'id': devi.id}) }}">Modifier</a></li>

                                            {# SUPPRIMER le devis sélectionner (:/devis/edit.html.twig) #}
                                            <li><a class="dropdown-item" href="{{ path('app_devis_delete', {'id': devi.id}) }}">Supprimer</a></li>
                                        </ul>
                                    </div>
                                
                            </tr>

                    {% else %}
                        {# permet l'affichage "pas de donnée" si les informations du tableau ne sont pas trouvé#}
                        <tr>
                            <td colspan="3">Pas de donnée</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    
{% endblock %}
