{% extends 'base.html.twig' %}

{% block title %}Devis{% endblock %}

{% block body %}
    <h1 class="title" >Devis</h1>

    <a class="btn btn-primary" href="{{ path('app_devis_index') }}">Retour</a>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ devi.id }}</td>
            </tr>
            <tr>
                <th>NumDevis</th>
                <td>{{ devi.numDevis }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('app_devis_edit', {'id': devi.id}) }}">Modifier</a>

    {# formulaire pour supprimer le devis #}
    {{ include('devis/_delete_form.html.twig') }}
{% endblock %}
