{# 
    Route ayant pour seul et unique but de mettre en forme le PDF, 
    CSS a mettre dans balise style
    tableau basé sur devis/show

    adresse pour le PDF : http://localhost:8000/admin/devis/pdf/{id}
#}
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Document</title>
            <style>
                *
                {
                    padding: 0;
                    margin: 0 ;
                    /* box-sizing: border-box ; */
                    font-family : Arial, sans-serif;
                }
                /* style experimentale */
                h1
                {
                    text-align:center;
                    margin: 20px 0;
                }

                h5 
                {
                    margin-left: 201pt;
                }
                body
                {
                    padding-top:150px;
                    padding: 10px ;
                }


                table
                {
                    width: 900px;
                    margin: 50px auto;
                    
                }  
                
                thead,td
                {
                    border: 1px solid slategray;
                }

                thead{
                    background-color: antiquewhite;
                }

                th
                {
                    font-size:1.5rem;

                }

                tr 
                {
                    font-weight: bold;
                    
                }  
                
                td{
                    padding:10px
                }

                li
                {
                    list-style: none;
                    
                    font-weight:lighter;
                    margin-left: 25px
                }

                p
                {

                }

            </style>
        </head>
        <body>
            
        <h1>Devis n° {{ devis.numDevis }}</h1>
        
        <h5 >Commercial : {{ devis.command.user.nom|upper}} {{ devis.command.user.prenom|capitalize}}</h5>
        <h5 >Client : {{ devis.command.client.user.nom|upper}} {{ devis.command.client.user.prenom|capitalize}}</h5>

        <div >
            <table >
                <thead >
                        <th >Description</th>
                        <th >Prix total</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Service(s) : 
                            <ul>
                                {# le filtre split permet de separer un string en tableau a chaque fois qu'une rencontre le separateur indiqué #}
                                {% set foo2 = devis.service| split(",") %}
                                {# A chaque tour de boucle, foo contient un certain nombre de tableau #}
                                {% for items in foo2 %}
                                    {# on affiche chaque tableau contenu dans foo2 #}
                                    <li>
                                            {{items|e}}
                                    </li>
                                {% endfor %}
                            </ul>
                            <br>

                            Détails : 
                            <ul>
                                {% set foo = devis.serviceDetail| split(",") %}
                                {% for items in foo %}
                                    <li>
                                        {{items|e}}
                                    </li>
                                {% endfor %}
                            </ul>

                            <br>
                            Matériel:
                            {% if devis.materiel %}
                                <ul>
                                    {% set materiel = devis.materiel| split(",") %}
                                    {% for items in materiel %}
                                        <li>
                                            {{items|e}}
                                        </li>
                                    {% endfor %}
                                    
                                </ul>
                            {% else %}
                                <p>Aucun materiel</p>
                                
                            {% endif %}
                                {# {{ devis.materiel}} #}
                        </td>
                        <td style="
                            font-size: 1.5rem;
                            text-align: center;
                        ">
                            {{ devis.prixFinal}} €
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </body>
        </html>