<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Yekrea | {% endblock %}</title>
    {# link bootstrapp #}
    <!-- bootstrap CSS only -->
    <link rel="stylesheet" href="{{ asset("css/bootstrap.min.css") }}">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

    <link rel="stylesheet" href="{{ asset("css/style.css") }}">
    {# la fonction twig (asset()) perlmet d'acceter a la racine du dossier "public"
    il accepte en argument le chemin vers le fichier desiré a partir le dossier public#}

    {# FONTS #} 

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
</head>
<body>

    {# _________ BARRE DE NAVIGATION #}
    
    
        {% block nav %}
        
            {# La barre de navigation n'est visible que lorsqu'un utilisateur est connecté #}
            {% if is_granted("ROLE_USER") %}


                {# NAVIGATION #}
                <div class="burger" style="display: flex; justify-content:center;">
                    <button id="openBtn" style="position:absolute;left: 10px; border:none!important; background-color:transparent;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#E5191E" class="bi bi-list" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                    </button>
                    <div class="pagesLogo">
                            <img src="/images/logoYekreaSmall.jpg" alt="Logo yekrea"  id="logo">
                    </div>
                </div>
                <div class="nav--container sidenav">
                    <nav id="mySidenav" class="sidebar">

                        <header>

                            {# Logo Yekrea #}

                            <div class="imgNav">
                                <img src="/images/logoYekreaSmall.jpg" alt="Logo yekrea" class="logoYekreaNav" style="width:150px;">
                            </div>

                        </header>
                        <a id="closeBtn" href="#" class="close btnClose" style="text-decoration:none;">&times;</a>

                        {# liste liens Navigation #}
                        <div class="menu">
                            <ul>
                                {# Tableau de bord #}
                                <li class="dashbord">
                                    <a href="{{ path('app_landing') }}">Tableau de bord</a>
                                </li>

                                {# Notification #}
                                {% if is_granted("ROLE_ADMIN") %}
                                    <li class="nav-link">
                                        <a class="link" href="{{ path('app_notification') }}">
                                        Notification
                                        </a>
                                    </li>
                                {% endif %}

                                {# COMMANDE #}
                                <li class="nav-link">
                                    <a class="link" href="{{ path('app_command_index') }}">
                                    Commande
                                    </a>
                                </li>

                                {# DEVIS #}
                                <li class="nav-link ">
                                    <a class="link" href="{{ path('app_devis_index') }}">Devis</a>
                                </li>
                                
                                {# Route vers les statistiques global reservé a l'admin #}
                                {% if app.user.RoleInt == 1 %}
                                    
                                    {# STATISTIQUE #}
                                    <li class="nav-link ">
                                        <a class="link" href="{{ path('app_dashboard') }}">Statistique</a>
                                    </li>
                                {% endif %}

                                {# MON COMPTE #}
                                <li class="nav-link">
                                    <a class="link" href="{{ path('app_dashboard',{'id' : app.user.id }) }}"> Mon compte </a>
                                </li>

                                {# USER #}
                                <li class="nav-link ">
                                    <a class="link" href="{{ path('app_user_index') }}">User</a>
                                </li>
                            </ul>
                        </div>
                        
                    </nav>   
                    
                </div> 
                
                {# bonjour USER #}
                
                <div class="welcome--container">
                        
                    <p>
                        bonjour

                            {# récupère le nom de l'utilisateur connecté + 1ère lettre en majuscule (capitalize) #}
                            <span style="color:#E5191E; font-weight:bold;">
                            {{app.user.prenom|capitalize}}
                            </span>

                            {# lien déconnexion #}
                            <a class="out" style="text-decoration:none; " href="{{ path('app_logout')}}">

                                {# 
                                    Icon bootstrap déconnexion 
                                    width et height => modifie la taille
                                #}
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="30" class="bi bi-box-arrow-in-left " fill="#000" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z"/>
                                    <path fill-rule="evenodd" d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                                </svg>

                            </a>
                    </p> 
                    
                </div> 



            {% endif %}

        {% endblock %}

                {# container de toutes les pages #}
                {% block body %}
                    
                {% endblock %}
            {# </div> #}
    
    <!-- JavaScript Bundle with Popper -->
    
    <script type="text/javascript" src="{{ asset("js/bootstrap.min.js") }}"></script>

        
    <script type="text/javascript" src="{{ asset("js/script.js") }}"></script>
    
    {% block javascripts %}
        <script>
            window.onload = function(){

                var nav = document.getElementById("mySidenav");
                var logo = document.getElementById("logo");

                

                if(window.matchMedia("(max-width:800px)").matches){

                    document.getElementById("openBtn").addEventListener("click", function() {
                    nav.style.left='0';
                    logo.style.top='-60px';
                    });

                    document.getElementById("closeBtn").addEventListener("click", function() {
            
                    nav.style.left='-1000px';
                    logo.style.top='0';
                    });
                    
                }else{
                    document.getElementById("openBtn").addEventListener("click", function() {
                    nav.style.left='0';
                    logo.style.top='-60px';
                    });

                    document.getElementById("closeBtn").addEventListener("click", function() {
            
                    nav.style.left='-250px';
                    logo.style.top='0';
                    });
                }

                let myVar = setInterval(myTimer, 1000);
                function myTimer() {
                    const d = new Date();
                    document.getElementById("demo").innerHTML = d.toLocaleTimeString();
                }
            }
    
            
            
            

    
        </script>
    {% endblock %}

</body>
</html>
