<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Yekrea-form | {% endblock %}</title>
    {# link bootstrapp #}
    <!-- bootstrap CSS only -->
    <link rel="stylesheet" href="{{ asset("css/bootstrap.min.css") }}">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

    <link rel="stylesheet" href="{{ asset("css/style.css") }}">
    {# la fonction twig (asset()) perlmet d'acceter a la racine du dossier "public"
    il accepte en argument le chemin vers le fichier desiré a partir le dossier public#}
    {% block stylesheets %}{% endblock %}
</head>
<body>

    {# _________ BARRE DE NAVIGATION #}

    {% block nav %}
    
        {# La barre de navigation n'est visible que lorsqu'un utilisateur est connecté #}
        {% if is_granted("ROLE_USER") %}
        
                <nav class="sidebar">
                    <header>
                        {# Logo Yekrea #}
                        <div class="imgNav">
                            <img src="/images/logoYekreaSmall.jpg" alt="Logo yekrea" class="logoYekreaNav" style="width:150px;">
                        </div>
                    </header>
                    
                    {# lien pour les pages #}
                    <div class="menu-bar">
                        <li class="dashbord">
                            <a href="">Tableau de bord</a>
                        </li>
                        <div class="menu">
                            <ul>
                                <li class="nav-link">
                                    <a href="">
                                    
                                    Commande
                                    </a>
                                </li>
                                <li class="nav-link">
                                    <a href="">Devis</a>
                                </li>
                                <li class="nav-link">
                                    <a href="">Statistique</a>
                                </li>
                                <li class="nav-link">
                                    <a href="">
                                    Mon compte
                                    </a>
                                </li>
                                <li class="nav-link">
                                    <a href="">User</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>    

                <div style="position:fixed; top: 0; right:0; padding: 10px; text-align:right; background-color:black;
                color:white;
                ">
                
                    <p>
                    bonjour 
                    <span></span>
                    <a class="dropdown-item" href="{{ path('app_logout')}}">D</a>
                    </p> 
                </div>
                
                    

        {% endif %}

    {% endblock %}
    {% block body %}
        
            <div class="containerPages" style="position: fixed;">
            </div>
    {% endblock %}

    <!-- JavaScript Bundle with Popper -->
    
    <script type="text/javascript" src="{{ asset("js/bootstrap.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/script.js") }}"></script>
    
    {% block javascripts %}{% endblock %}

</body>
</html>
