{{ form_start(form) }}

        {% if  not app.request.query.get("id")  %}

            <div style="display:flex; flex-direction: column; align-items: start" >
            <label for="client_search_User"> Utilisateur</label>
            <input type="text" name="" id="client_search_User" class="form-control" placeholder="Rechercher un utilisateur">
            {{form_row(form.user)}}
            </div>

        {% endif %}

        {{form_row(form.societe)}}
        
        {{form_row(form.telephone)}}
    

        <div id="client__formReseau">


            <div class="client__formReseau--fieldContainer">

                <fieldset class="client__formReseau--fieldSet">
                    
                    <div class="client__formReseau--choice ">
                        <label name="client__Form" for="facebook">Facebook</label>
                        <input type="checkbox" name="Reseau" class="box" id="facebook" value='Facebook'>
                        <input type="text" name="Reseau" class="box" disabled="true" style="display:none" id="facebook">
                    </div>

                    <div class="client__formReseau--choice ">
                        <label name="client__Form" for="Twitter">Twitter</label>
                        <input type="checkbox" name="Reseau" class="box" id="Twitter" value='Twitter'>
                        <input type="text" name="Reseau" class="box" disabled="true" style="display:none" id="Twitter">
                    </div>

                    <div class="client__formReseau--choice ">
                        <label name="client__Form" for="Instagram">Instagram</label>
                        <input type="checkbox" name="Reseau" class="box" id="Instagram" value="Instagram">
                        <input type="text" name="Reseau" class="box" disabled="true" style="display:none" id="Instagram">
                    </div>

                    <div class="client__formReseau--choice ">
                        <label name="client__Form" for="TikTok">TikTok</label>
                        <input type="checkbox" name="Reseau" class="box" id="TikTok" value="TikTok" >
                        <input type="text" name="Reseau" class="box" disabled="true" style="display:none" id="TikTok" >
                    </div>
                    

                    <div class="client__formReseau--choice ">
                        <label name="client__Form" for="Linkedin">Linkedin</label>
                        <input type="checkbox" name="Reseau" class="box" id="Linkedin" value="Linkedin" >
                        <input type="text" name="Reseau" class="box" disabled="true" style="display:none" id="Linkedin" >
                    </div>
                    
                </fieldset>

                </div>

            </div>

            <div style="display:none">
                {{form_row(form.Reseaux)}}
            </div>

        </div>
        
        <button class="btn bouton  mt-4 mb-4">{{ button_label|default('Valider') }}</button>
    

    
{{ form_end(form) }}
