{{ form_start(form) }}

    <div class="shadow p-3 mb-2 bg-light containerFormulaire">
        {% if  not app.request.query.get("id")  %}
        
            {{form_row(form.user)}}

        {% endif %}

        {{form_row(form.societe)}}
        
        {{form_row(form.telephone)}}

        {{form_row(form.Reseaux)}}
        
        <button class="btn btn-success">{{ button_label|default('Valider') }}</button>
    </div>

    
{{ form_end(form) }}
