{% extends 'base.html.twig' %}

{% block title %}Index commandes{% endblock %}

{% block body %}

{# INDEX DES COMMANDES #}

    <div class="containerPages">
    
        <div class="pages">

            <h1 class="title">Commandes</h1>
            
            <a class="btn bouton bouton--supp mb-4" href="{{ path('app_recherche') }}" >
                Rechercher une commande
            </a>
            <a class="btn bouton mb-4" href="{{ path('app_command_new') }}">
                    Créer une nouvelle commande
            </a> 
            
            {# 
                CLASS BOOTSTRAP
                table-responsive-sm : rend le tableau responsive en fonction de la taille de l'écran (sm)
                mb : margin-bottom
            #}
            {% for command in commands %}
                {% if is_granted("ROLE_ADMIN") %}
                    {% for notification in app.flashes('success') %}
                        <div id="notif" class="alert text-center alert-dismissible fade show" style="color:#E5191E;border: 1px solid #E5191E; background-color:rgb(229,25,30, 0.1);">
                            {{notification}} 
                            <a href="{{ path('app_command_show', {'id': command.id}) }}" style="color:#E5191E">Voir</a>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="width:3px">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            <div class="table-responsive-sm">
                <table class="table mb-5 tableau">


                    <thead >
                        <tr>
                            {# <th>Id</th> #}
                            <th>Ref</th>
                            <th>Client</th>
                            <th>Service</th>
                            <th>Services détails</th>
                            <th>Créé le</th>
                            <th>Validée le</th>
                            <th style="background-color:transparent !important; "></th>
                        </tr>
                    </thead>
                    <tbody>

                    {# BOUCLE pour afficher les données récupérer via la table commande #}
                    {% for command in commands %}
                        <tr>

                            {# référence de la commande #}
                            <td>{{ command.nbCommande }}</td>
                            
                            {# société #}
                            {% if command.client %}
                                <td>{{command.client.societe|capitalize}}</td> 
                            {% endif %}

                            {% if command.servicesdetail %}

                                    {# nom du service #}
                                    <td>
                                        {% for item in command.servicesdetail %}
                                                {{item.services.nom}} <br>
                                        {% endfor %}   
                                    </td>

                                    {# nom du service détails #}

                                    <td>
                                        {% for item in command.servicesdetail %}
                                                {{item.nom}} <br>
                                        {% endfor %} 
                                    </td>

                                    {# <td>
                                        {% for item in command.servicesdetail %}
                                                
                                            {% if item.prix != 0 %}
                                        
                                                entre {{ item.prixMin }} et {{ item.prix }} <br>
                                            
                                            {% else %}
                                                
                                                A partir de {{ item.prixMin }} <br>
                                            {% endif %}
                                        {% endfor %} 
                                    </td> #}
                                
                            {% else %}
                                <td colspan='3'>NC </td>
                                
                            {% endif %}

                            {# date de création de la commande #}
                            <td>{{ command.createDate ? command.createDate|date('d/m/Y') : '' }}</td>

                            {# date de validation de la commande #}
                            <td>{{ command.validationDate ? 'Validé le :' ~ command.validationDate|date('d/m/Y') : 'en attente' }}</td>
                            </td>

                            {# 
                                Menu déroulant pour VOIR / MODIFIER /SUPPRIMER 
                                col: taille de la colonne
                                dropdown-center : centre le dropdown
                            #}
                            <td class="col-1" >
                                <div class="dropdown-center"  >

                                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        {# 
                                            Icones bootstrap "..." 
                                            width & height : pour changer la taille
                                            fill : pour changer la couleur ( couleur bootstap / couleur hexadecimal / couleur écrite ex: "red")
                                        #}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="#D6D6D6" class="bi bi-three-dots" viewBox="0 0 16 16">
                                            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                                        </svg>
                                    </button>

                                    <ul class="dropdown-menu">
                                        {# VOIR la commande sélectionner (:/commande/show.html.twig) #}
                                        <li><a class="dropdown-item" href="{{ path('app_command_show', {'id': command.id}) }}">Voir</a></li>
                                        {# MODIFIER la commande sélectionner (:/commande/edit.html.twig) #}
                                        <li><a class="dropdown-item" href="{{ path('app_command_edit', {'id': command.id}) }}">Modifier</a></li>
                                        {# SUPPRIMER la commande sélectionner (:/commande/_delete_form.html.twig) #}
                                        {# <li><a class="dropdown-item" href="{{ path('app_command_delete', {'id': command.id}) }}">Supprimer</a></li> #}
                                    </ul>
                                </div>
                            </td>

                        </tr>
                            
                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
