{% extends 'base.html.twig' %}

{% block title %}Command{% endblock %}

{% block body %}


    <h1 class="title">Commande</h1>

    <a class="btn btn-primary mt-4 mb-4" href="{{ path('app_command_index') }}">Retour</a>

    <div class="containerPages">
        <table class="table">
        <tbody>
            <tr>
                <th>Client</th>
                <td>
                    {% if command.client %}
                        
                        {% if command.client.user %}
                            {{command.client.user.nom ~ ' ' ~ command.client.user.prenom}}
                        {% endif %}
                        
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Numéro de commande</th>
                <td>{{ command.nbCommande }}</td>
            </tr>
            <tr>
                <th>Services</th>
                <td>
                    {% if command.servicesDetail %}
                        {% for serviceDetail in command.servicesDetail %}
                                {{serviceDetail.services.nom}}<br>
                        {% endfor %}
                    {% else %}
                        NR
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Services détails</th>
                <td>
                    {% if command.Servicesdetail %}
                        {% for Servicedetail in command.Servicesdetail %}
                            {{Servicedetail.nom}}<br>
                        {% endfor %}
                    {% else %}
                        NR
                    {% endif %}
                </td>
            </tr>
                        <tr>
                <th>materiel</th>
                <td>

                    {% for materiel in command.materiel %}
                        {{materiel.nom}}
                    {% else %}
                        NR  
                
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ command.createDate ? command.createDate|date('Y-m-d') : '' }}</td>
            </tr>
            
            <tr>
                <th>Date de validation</th>
                <td>{{ command.validationDate ? command.validationDate|date('Y-m-d') : '' }}</td>
            </tr>

            <tr>
                <th>Prestataire</th>
                <td>{{ command.user ? command.user.nom ~ ' ' ~ command.user.prenom : '' }} </td>
            </tr>


        </tbody>
        </table>
        <div class="updateDelete" style="display:flex;flex-direction:row; justify-content:space-around;">
        {% if not command.validationDate %}
            <a class="btn btn-info text-light" href="{{ path('app_command_edit', {'id': command.id}) }}">Modifier</a>
        {% endif %}
            {{ include('command/_delete_form.html.twig') }}



            {% if is_granted('ROLE_ADMIN') %}
                {% if not command.validationDate %}
                    <a class="btn btn-success" href="{{ path('app_validate', {'id': command.id}) }}">Valider</a>
                {% endif %}
            {% endif %}
            

        </div>
    </div>
    
    
{% endblock %}
