{% extends 'base.html.twig' %}

{% block title %}Command{% endblock %}

{% block body %}


    <h1>Commande</h1>

    <a class="btn btn-primary mt-4 mb-4" href="{{ path('app_command_index') }}">Retour</a>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ command.id }}</td>
            </tr>
            <tr>
                <th>Numéro de commande</th>
                <td>{{ command.nbCommande }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ command.createDate ? command.createDate|date('Y-m-d') : '' }}</td>
            </tr>
            
            <tr>
                <th>Date de validation</th>
                <td>{{ command.validationDate ? command.validationDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Devis</th>
                <td>{{ command.devis }}</td>
            </tr>
        </tbody>
    </table>

    

    <a href="{{ path('app_command_edit', {'id': command.id}) }}">Modifier</a>

    {{ include('command/_delete_form.html.twig') }}
{% endblock %}
