{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}

    <div class="containerPages">
        <div class="pages">
            <a class="btn bouton" href="{{ path('app_command_index') }}">
                Retour
            </a>
            <h1 class="title">Commande n°{{ command.nbCommande }}</h1>
            <p>Commercial : {{ command.user ? command.user.nom|capitalize }}</p>
            <div class="table-responsive-sm">
                <table class="table mt-4 mb-5 tableau">
                    <thead>
                        <th>Ref</th>
                        <th>Client</th>
                        <th>Services</th>
                        <th>Description</th>
                        <th>Matériel</th>
                        <th>Crée le</th>
                        <th>Validée le</th>
                        <th>Commercial</th>
                    </thead>
                    <tbody>
                        <tr>
                            {# Num de commande #}
                            <td>{{ command.nbCommande }}</td>
                            
                            {# Client #}
                            <td>
                                {% if command.client %}
                                    {% if command.client %}
                                        {{command.client.societe|upper}}
                                    {% endif %}
                                    
                                {% endif %}
                            </td>

                            {# Services #}
                            <td>
                                {% if command.servicesDetail %}
                                    {% for serviceDetail in command.servicesDetail %}
                                            {{serviceDetail.services.nom}}<br>
                                    {% endfor %}
                                {% else %}
                                    NR
                                {% endif %}
                            <br>
                            {# détails du services #}
                                {% if command.Servicesdetail %}
                                    {% for Servicedetail in command.Servicesdetail %}
                                        {{Servicedetail.nom}}<br>
                                    {% endfor %}
                                {% else %}
                                    NR
                                {% endif %}
                            </td>
                            <td>{{ command.description }}</td>
                            <td>

                                {% for materiel in command.materiel %}
                                    {{materiel.nom}}
                                {% else %}
                                    NR  
                            
                                {% endfor %}
                            </td>
                            <td>{{ command.createDate ? command.createDate|date('Y-m-d') : '' }}</td>
                            
                            <td>{{ command.validationDate ? command.validationDate|date('Y-m-d') : '' }}</td>
                    
                            <td>{{ command.user ? command.user.nom|capitalize }} </td>
                        </tr>


                    </tbody>
                </table>
            </div>
            <div class="updateDelete" style="display:flex;flex-direction:row; justify-content:space-around;">
                {% if not command.validationDate %}
                    <a class="btn bouton" href="{{ path('app_command_edit', {'id': command.id}) }}">Modifier</a>
                {% endif %}

                {{ include('command/_delete_form.html.twig') }}

                {% if is_granted('ROLE_ADMIN') %}
                    {% if not command.validationDate %}
                        <a class="btn bouton" href="{{ path('app_validate', {'id': command.id}) }}">Valider</a>
                    {% endif %}
                {% endif %}
                

            </div>
        </div>
    </div>
    
    
{% endblock %}
