{% extends 'base.html.twig' %}

{% block title %}ServicesDetail{% endblock %}

{# PAGE POUR AFFICHER LE SERVICE DETAIL SELECTIONNER #}

{% block body %}

    <div class="containerPages">
        <div class="pages">

            {# BOUTON pour RETOURNER sur la PAGE INDEX #}
            <a class="btn bouton" href="{{ path('app_admin_services_detail_index') }}">Retour</a>

            <h1 class="title">Détail du service</h1>

            <div class="table-responsive-sm">
                <table class="table mb-4 tableau">
                    <thead>
                        {# <th>Id</th> #}
                        <th>Nom</th>
                        <th>Prix Minimum</th>
                        <th>Prix Maximum</th>
                        <th>Date_creation</th>
                    </thead>
                    <tbody>
                        <tr>
                            {# <td>{{ services_detail.id }}</td> #}                   
                            <td>{{ services_detail.nom }}</td>                            
                            <td>{{ services_detail.prixMin }}</td>
                            
                            {% if  services_detail.prix != 0 %}
                                
                                <td>{{ services_detail.prix }}</td> 

                                {% else %}
                                    <td>Prix personnalisé</td>
                                {% endif %}
                            <td>{{ services_detail.dateCreation ? services_detail.dateCreation|date('d-m-Y') : '' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            {# div pour gérer l'affichage des deux BOUTONS UPDATE & DELETE #}
            <div class="updateDelete" style="display:flex;flex-direction:row; justify-content:space-around;">

                {# BOUTON pour MODIFIER le SERVICE #}
                <a class="btn bouton" href="{{ path('app_admin_services_detail_edit', {'id': services_detail.id}) }}">Modifier</a>
                
                {# BOUTON pour SUPPRIMER le SERVICE #}
                {{ include('admin_services_detail/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
