{# {% extends 'base.html.twig' %} #}

{# {% block title %}{{parent()}} {% endblock %} #}

{# {% block body %} #}

    {# Page de connexion #}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ asset("css/bootstrap.min.css") }}">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

    <link rel="stylesheet" href="{{ asset("css/style.css") }}">
    {# la fonction twig (asset()) perlmet d'acceter a la racine du dossier "public"
    il accepte en argument le chemin vers le fichier desiré a partir le dossier public#}
        <title>Yekrea| Login</title>
    </head>
    <body>
        
    
    
    <div class="login__container">

        <div class="containerLogIn">

            {# Logo YEKREA & SLOGAN #}
            <div class="containerLogIn_block containerLogIn_block--logo">

                <img class="" src="images/logoYekreaSmall.jpg" alt="logo yekrea">

                <p class="slogan">
                    Il est temps de vendre !
                </p>
            </div>

            {# FORMULAIRE DE CONNEXION #}
            <div id="containerLogIn_block--form" class="containerLogIn_block ">

                <form class="containerLogIn_block--form" action="{{ path('app_login') }}" method="post">

                    {# CLASS BOOTSTRAP

                        mb- = margin-bottom
                        mt- = margin-top

                        fw-bold = texte en gras
                
                    #}

                    <p class="fw-bold mb-3">Se connecter</p>

                    <div class="form-group mb-4">

                        <label class="form-group mb-2" for="username">Identifiant</label>
                        <input  class="form-control" aria-describedby="emailHelp" type="text" id="username" name="_username" value="{{ last_username }}"/>

                    </div>

                    <div class="form-group mb-4">

                        <label class="form-group mb-2" for="password">Mot de passe</label>
                        <input class="form-control mb-4 " type="password" id="password" name="_password" style="box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.2); border:none;" />

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        {# If you want to control the URL the user is redirected to on success
                        <input type="hidden" name="app_landing" value="/accueil"/>  #}
                        
                        {# INPUT POUR VOIR LE MOT DE PASSE #}
                        {# <input id="checkbox" class="bold mt-3" type="checkbox" onclick="myFunction()">
                        <label style="font-size:12px;" for="checkbox">Voir mon mot de passe</label> #}

                        <button class="btn bouton" data-toggle="button" aria-pressed="false" autocomplete="off" type="submit">Valider</button>
                    </div>



                    {# Message d'erreur en cas de mdp incorrect #}
                    {% if error %}
                        <div class="alert alert-danger text-center">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                </form>
            </div>
    </div>
    <!-- JavaScript Bundle with Popper -->
    
    <script type="text/javascript" src="{{ asset("js/bootstrap.min.js") }}"></script>

        
    <script type="text/javascript" src="{{ asset("js/script.js") }}"></script>
    </body>
    </html>

{# {% endblock %} #}

{# {% block javascripts %}

    FONCTION JS POUR L'AFFICHAGE DU MOT DE PASSE
    <script>
    //     function myFunction() {
    //         var x = document.getElementById("password");
    //         if (x.type === "password") {
    //             x.type = "text";
    //         } else {
    //             x.type = "password";
    //         }
    //     }
    </script>
    
{% endblock %} #}

