{% extends 'base.html.twig' %}

{% block title %}{{parent()}} {% endblock %}

{% block body %}

    {# Page de connexion #}
    
    <div class="login__container">

        <div class="containerLogIn">

            {# Logo YEKREA & SLOGAN #}
            <div class="containerLogIn_block containerLogIn_block--logo">

                <img class="" src="images/logoYekreaSmall.jpg" alt="logo yekrea">

                <p class="slogan">
                    Il est temps de vendre !
                </p>
            </div>

            {# FORMULAIRE DE CONNEXION #}
            <div id="containerLogIn_block--form" class="containerLogIn_block ">

                <form class="containerLogIn_block--form" action="{{ path('app_login') }}" method="post">

                    {# CLASS BOOTSTRAP

                        mb- = margin-bottom
                        mt- = margin-top

                        fw-bold = texte en gras
                
                    #}

                    <p class="fw-bold mb-3">Se connecter</p>

                    <div class="form-group mb-4">

                        <label class="form-group mb-2" for="username">Identifiant</label>
                        <input  class="form-control" aria-describedby="emailHelp" type="text" id="username" name="_username" value="{{ last_username }}"/>

                    </div>

                    <div class="form-group mb-4">

                        <label class="form-group mb-2" for="password">Mot de passe</label>
                        <input class="form-control mb-4 " type="password" id="password" name="_password" style="box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.2); border:none;" />

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        
                        {# INPUT POUR VOIR LE MOT DE PASSE #}
                        {# <input id="checkbox" class="bold mt-3" type="checkbox" onclick="myFunction()">
                        <label style="font-size:12px;" for="checkbox">Voir mon mot de passe</label> #}

                        <button class="btn bouton" data-toggle="button" aria-pressed="false" autocomplete="off" type="submit">Valider</button>
                    </div>

                    {# If you want to control the URL the user is redirected to on success
                    <input type="hidden" name="_target_path" value="/account"/> #}


                    {# Message d'erreur en cas de mdp incorrect #}
                    {% if error %}
                        <div class="alert alert-danger text-center">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                </form>
            </div>
    </div>

{% endblock %}

{# {% block javascripts %}

    FONCTION JS POUR L'AFFICHAGE DU MOT DE PASSE
    <script>
    //     function myFunction() {
    //         var x = document.getElementById("password");
    //         if (x.type === "password") {
    //             x.type = "text";
    //         } else {
    //             x.type = "password";
    //         }
    //     }
    </script>
    
{% endblock %} #}

