{% extends 'base.html.twig' %}

{% block title %}{{parent()}} {% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="login__container">

    <div class="containerLogIn">
        
        <div id="containerLogIn_block--form" class="containerLogIn_block ">
            <h2 class="bold">Se connecter</h2>
            <form class="containerLogIn_block--form" action="{{ path('app_login') }}" method="post">

                {# 
                    col-md-2 = taille de l'input
                    mx-sm- 
                    mb- = margin-bottom
                #}

                <div class="form-group mx-sm-3 mb-4">
                
                    <label class="bold mb-3" for="username">Email:</label>
                    <input class="form-control" aria-describedby="emailHelp" type="text" id="username" name="_username" value="{{ last_username }}"/>
                </div>


                <div class="form-group mx-sm-3 mb-4">
                    <label class="bold mb-3" for="password">Mot de passe:</label>
                    <input class="form-control" type="password" id="password" name="_password"/>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>

                {# If you want to control the URL the user is redirected to on success
                <input type="hidden" name="_target_path" value="/account"/> #}

                <button class="btn bouton mb-4 bold " data-toggle="button" aria-pressed="false" autocomplete="off" type="submit">Connexion</button>
            </form>
        </div>

        <div class="containerLogIn_block containerLogIn_block--logo">
            <img class="" src="images/logo-YEKREA-red." alt="logo yekrea">
        </div>
    </div>

{% endblock %}

