{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Accueil{% endblock %}

{% block stylesheets %}

{% endblock %}

{# LANDING #}

{% block body %}

    <div class="containerPages">

        <div class="pages">

            <h2 class="title">
                Que souhaitez-vous faire?
            </h2>

            <div class="landingContainer">

                <a href="{{path("app_command_index")}}" class="landingbloc--a">
                    <div class="landingBloc">
                        <p>Nouvelle commande</p>
                    </div>
                </a>

                <a href="{{path("app_command_historique")}}" class="landingbloc--a">
                    <div class="landingBloc">
                        <p>Historique de commande</p>
                    </div>
                </a>
                
                
                <a href="{{ path('app_devis_index') }}" class="landingbloc--a">
                    <div class="landingBloc">
                        <p>Liste de devis</p>
                    </div>
                </a>
                
                <a href="" class="landingbloc--a">
                    <div class="landingBloc">
                        <p>Statistiques</p>
                    </div>
                </a>
                
                <a href="{{path("app_admin_client_index")}}" class="landingbloc--a">
                    <div class="landingBloc">
                        <p>CRM</p>
                    </div>
                </a>
                
                {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('app_user_new') }}" class="landingbloc--a">
                        <div class="landingBloc">
                            <p>Nouveau commercial</p>
                        </div>
                    </a>
                {% endif %}

            </div>

        </div>

    </div>

{% endblock %}
