{% extends 'base.html.twig' %}

{% block title %}Matériel {% endblock %}

{% block body %}
    <div class="containerPages">

        <div class="pages">
        
            <h1 class="title">Matériel </h1>

            {# bouton accessible pour l'admin pour ajouter un nouveau materiel #}
            
            {% if is_granted("ROLE_ADMIN") %}
                <a class="btn btn-success mb-4" href="{{ path('app_materiel_new') }}">Ajouter un nouveau matériel</a> #}
            {% endif %}

            
            {# 
                CLASS BOOTSTRAP
                table-responsive-sm : rend le tableau responsive en fonction de la taille de l'écran (sm)
                mb : margin-bottom
            #}
            <div class="table-responsive-sm">

                <table class="table mb-5 tableau">
                    <thead>
                        <tr>
                            {# <th >Id</th> #}
                            <th class="col-3">Nom</th>
                            <th class="col-3">Prix</th>
                            <th style="background-color:transparent !important; "></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for materiel in materiels %}
                        <tr>
                            {# ID materiel
                            <td>{{ materiel.id }}</td> #}
                            <td>{{ materiel.nom }}</td>
                            <td>{{ materiel.prix }}€</td>
                            <td class="col-1" >
                                <div class="dropdown-center"  >

                                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        {# 
                                            Icones bootstrap "..." 
                                            width & height : pour changer la taille
                                            fill : pour changer la couleur ( couleur bootstap / couleur hexadecimal / couleur écrite ex: "red")
                                        #}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="#D6D6D6" class="bi bi-three-dots" viewBox="0 0 16 16">
                                            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                                        </svg>
                                    </button>

                                    <ul class="dropdown-menu">
                                        {# VOIR le materiel sélectionner (:/materiel/show.html.twig) #}
                                        <li><a class="dropdown-item" href="{{ path('app_materiel_show', {'id': materiel.id}) }}">Voir</a></li>

                                        {# MODIFIER le materiel sélectionner (:/materiel/edit.html.twig) #}
                                        <li><a class="dropdown-item" href="{{ path('app_materiel_edit', {'id': materiel.id}) }}">Modifier</a></li>

                                        {# SUPPRIMER le materiel sélectionner (:/materiel/_delete_form.html.twig) #}
                                        <li><a class="dropdown-item" href="{{ path('app_materiel_delete', {'id': materiel.id}) }}">Supprimer</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
            
        </div>
        
    </div>

    
{% endblock %}
