{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}
{% block stylesheets %}
<style>
    /* .nav--container,
    .sidebar
    {
        display: none
    } */
    table{
        width: 100%;
        
    }
    td,th{
        text-align: left;
        padding-left: 15px;
        height: 50px;
    }

</style>

{% endblock %}

{% block body %}

    <div class="containerPages">
        <div class="pages">
    {% if app.user.RoleInt == 1 %}
        
    
            {# Section Statistique general  #}
            <section  id="dashboard__section1">
                <div id="section1__container">
                    <h2 class="section1__titleSection">Vue d'ensemble</h2>
                    <div id="section1__gridContainer">
                        <div id="section1__grid">
                            {% for commande in lastCommandes %}

                                <div class="section1__lastCommande">
                                    <div class="section1__lastCommande--identiteContainer">
                                        <h3 class="section1__lastCommande--cardTitle">Commande n°{{commande.nbCommande}}</h3>
                                        <div class="section1__lastCommande--client">{{commande.client.user.nom}} de {{commande.client.societe|capitalize}}</div>
                                        <div class="section1__lastCommande--vendeur">{{commande.user.nom}}</div>
                                    </div>
                                    <div class="section1__lastCommande--prix">
                                    {% if commande.devis %}
                                        {% if commande.devis.prixFinal %}
                                            Prix final : {{commande.devis.prixFinal}}€
                                    {% else %}
                                        
                                        {% if commande.servicesDetail %}
                                            {# Variable qui stoquera les prix max et min #}
                                            {% set prixMin = 0 %}
                                            {% set prixMax = 0 %}
                                            {# Boucle qui va additionner les prix min et max des differents services #}
                                            {% for service in commande.servicesDetail %}
                                            
                                                {% set prixMin = prixMin + service.prixMin|default(0) %}
                                                {% set prixMax = prixMax + service.prix|default(0) %}
                                            {% endfor %}
                                        {% endif %}
                                        A partir de {{prixMin}}€
                                        {# à {{prixMax}} #}
                                        {% endif %}

                                        
                                    {% endif %}
                                    </div>
                                    <div class="section1__lastCommande--validation">
                                {# Si la commande a été passé mais n'as pas encore été validé #}
                                        {% if not commande.validationDate %}
                                        
                                                Non validé
                                            </div>
                                            <a class="section1__lastCommande--cardBtn" >Valider la commande</a>
                                        {% else %}

                                        {% if not commande.devis.prixFinal %}
                                            {# Si la commande a été validé mais le prix final n'as pas encore été definis #}
                                                En attente de prixFinal
                                            </div>
                                        <a class="section1__lastCommande--cardBtn">Definir le Prix Final</a>
                                    {% else %}

                                    {# Si le prix final a été definis mais que le client n'as pas encore validé #}
                                                En attente de validation client
                                            </div>
                                            <div style="display:flex;flex-direction:column">
                                                <a class="section1__lastCommande--cardBtn">
                                                Validation client
                                                </a>
                                                <a class="section1__lastCommande--cardBtn">
                                                
                                                Voir le devis
                                                </a>
                                            </div>
                                    {% endif %}
                                            
                                            
                                    {% endif %}

                            </div>
                        {% endfor %}

                            
                        </div>
                        <div id="section1__voirCommande" ><a href="#"><button class="btn bouton bouton--supp">Voir toutes les commandes</button></a></div>
                    </div>

                    

                    <div id="section1__bestContainer">
                        <div class="section1__general--container">
                            <div>
                                <p class="section1__general--label">Nombre de devis validée</p>
                                <p class="section1__general--valeur">{{devisAccepted}}</p>
                                <a href="#">Voir tout</a>
                            </div>
                            <div>
                                <p class="section1__general--label">Nombre de devis en attente</p>
                                <p class="section1__general--valeur">{{devisPending}}</p>
                                <a href="#">Voir tout</a>
                            </div>
                            <div>
                                <p class="section1__general--label">Nombre de devis annulée</p>
                                <p class="section1__general--valeur">{{devisAborted}}</p>
                                <a href="#">Voir tout</a>
                            </div>
                        </div>
                        <div class="section1__bestVendeur">
                            <div>
                                <div class="section1__bestVender--item">Commerçant le plus rentable :</div>
                                <div class="section1__bestVender--valeur">{{classementVendeurPrix.0[0]}} avec {{classementVendeurPrix.0[1]}} € d'apport</div>
                                <a href="#" class="section1__voirPlus">voir le classement</a>
                            </div>
                            <div>
                                <div class="section1__bestVender--item">Commerçant le plus performant :</div>
                                <div class="section1__bestVender--valeur">{{classementVendeurVente.0[0]}} avec  {{classementVendeurVente.0[2]}}  ventes</div>
                                <a href="#" class="section1__voirPlus">Voir le classement</a>
                            </div>
                        </div>
                        <div class="section1__bestCategorie">
                            <div class="section1__bestCategorie--rentable">
                                <div class="section1__bestProduit--item">Categorie la plus rentable :</div>
                                <div class="section1__bestProduit--valeur">{{classementCategorieRentable.0[0]}} avec {{classementCategorieRentable.0[1]}} €</div>
                                <a href="#" class="section1__voirPlus">Voir le classement</a>
                            </div>
                            <div>
                                <div class="section1__bestProduit--item">Categorie la plus populaire :</div>
                                <div class="section1__bestProduit--valeur">{{classementCategoriePopulaire.0[0]}} avec {{classementCategoriePopulaire.0[1]}} demandes</div>
                                <a href="#" class="section1__voirPlus">Voir le classement</a>
                            </div>
                        </div>
                        <div class="section1__bestProduit"></div>
                    </div>
                </div>
                <a href=""><button class="btn bouton" >retour</button></a>
            </section>

            {# Section Classement par Vendeur #}
            <section id="dashboard__section2">
                <h2>Classement par Vendeur</h2>
                <div id="container__section2">

                    <div class="dashboard__rankVendor">
                        <div class="dashboard__rankVendor--container">
                            <h3 class="dashboard__rankVendor--title">Classement des Commercials par nombre de commandes</h3>
                            <div class="table-responsive-sm">
                                <table class="table mt-4 mb-5 tableau">
                                    <thead >
                                        <th>Rank</th>
                                        <th>Commercial</th>
                                        <th>Nombre de commande</th>
                                    </thead>
                                    <tbody>
                                        {% set rank = 0 %}
                                        {% for item in classementVendeurVente %}
                                        {% set rank = rank + 1 %}

                                            <tr>
                                                <td style="{{rank == 1 ? 'font-weight: 700;' : '' }}" class="dashbord__rankVendor--tdRank">{{rank}}</td>
                                                <td style="{{rank == 1 ? 'font-weight: 700;' : '' }}" class="dashbord__rankVendor--tdCommercial">{{item[0]}}</td>
                                                <td style="{{rank == 1 ? 'font-weight: 700;' : '' }}" class="dashbord__rankVendor--tdCommande">{{item[2]}}</td>
                                                <td style="{{rank == 1 ? 'font-weight: 700;' : '' }}" class="dashbord__rankVendor--voirPlus">
                                                    <a href="{{ path("app_dashboard", {'id': item[1]}) }}">
                                                        Plus d'info
                                                    </a>
                                                </td>
                                            </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="dashboard__rankVendor">
                        <div class="dashboard__rankVendor--container">
                            <h3 class="dashboard__rankVendor--title">Classement des Commerciaux par recette</h3>
                            <div class=" table table-responsive-sm tableau">
                                <table>
                                    <thead >
                                        <th>Rank</th>
                                        <th>Commercial</th>
                                        <th>Recette</th>
                                    </thead>
                                    <tbody>
                                        {% set rank1 = 0 %}
                                        {% for item in classementVendeurPrix %}
                                            {% set rank1 = rank1 + 1 %}

                                            <tr>
                                                <td style="{{rank1 == 1 ? 'font-weight: 700;' : '' }}" class="dashbord__rankVendor--tdRank">{{rank1}}</td>
                                                <td style="{{rank1 == 1 ? 'font-weight: 700;' : '' }}" class="dashbord__rankVendor--tdCommercial">{{item[0]}}</td>
                                                <td style="{{rank1 == 1 ? 'font-weight: 700;' : '' }}" class="dashbord__rankVendor--tdCommande">{{item[2]}} €</td>
                                                <td style="{{rank1 == 1 ? 'font-weight: 700;' : '' }}" class="dashbord__rankVendor--voirPlus">
                                                    <a href="{{ path("app_dashboard", {'id': item[1]}) }}">
                                                        Plus d'info
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <a href=""><button class="btn bouton">retour</button></a>
            </section>

            {# Section Classement par categorie #}
            <section id="dashboard__section3">
                <h2>Classement par Vendeur</h2>
                <div id="container__section3">
                    {# Classement des Catégories par recette #}
                    <div class="dashboard__rankVendor">
                        <div class="dashboard__rankVendor--container">
                            <h3 class="dashboard__rankVendor--title">Classement des Catégories par recette</h3>

                            <div class="table-responsive-sm">
                                <table class=" table mb-5 tableau">
                                    <thead >
                                        <th>Rank</th>
                                        <th>Catégorie</th>
                                        <th>Nombre de commande</th>
                                    </thead>
                                    <tbody>
                                        {% set rank2 = 0 %}
                                        {% for item in classementCategoriePopulaire %}
                                        {% set rank2 = rank2 + 1 %}

                                            <tr>
                                                <td style="{{rank2 == 1 ? 'font-weight: 700;' : '' }}" class="dashbord__rankVendor--tdRank">{{rank2}}</td>
                                                <td style="{{rank2 == 1 ? 'font-weight: 700;' : '' }}" class="dashbord__rankVendor--tdCommercial">{{item[0]}}</td>
                                                <td style="{{rank2 == 1 ? 'font-weight: 700;' : '' }}" class="dashbord__rankVendor--tdCommande">{{item[1]}}</td>
                                            </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {# Classement des Catégories par recette #}
                    <div class="dashboard__rankVendor">
                        <div class="dashboard__rankVendor--container">
                            <h3 class="dashboard__rankVendor--title">Classement des Catégories par recette</h3>
                            <div class="table-responsive-sm">
                                <table class="table mb-5 tableau">
                                    <thead >
                                        <th>Rank</th>
                                        <th>Catégorie</th>
                                        <th>Recette</th>
                                    </thead>
                                    <tbody>
                                        {% set rank3 = 0 %}
                                        {% for item in classementCategorieRentable %}
                                            {% set rank3 = rank3 + 1 %}

                                            <tr>
                                                <td style="{{rank3 == 1 ? 'font-weight: 700;' : '' }}" class="dashbord__rankVendor--tdRank">{{rank3}}</td>
                                                <td style="{{rank3 == 1 ? 'font-weight: 700;' : '' }}" class="dashbord__rankVendor--tdCommercial">{{item[0]}}</td>
                                                <td style="{{rank3 == 1 ? 'font-weight: 700;' : '' }}" class="dashbord__rankVendor--tdCommande">{{item[1]}} €</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                    <a href=""><button class="btn bouton">retour</button></a>
            </section>
        
    {% endif %}
    {% if   app.request.query.get("id")  %}

        <section>

            <h2>Statistique de vente individuel</h2>
            <div>
            <div class="table-responsive-sm">
                <table>
                    <thead>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Nombre total de devis</td>
                            <td>{{userStats.1}}</td>
                        </tr>
                        <tr>
                            <td>Nombre de devis accepter</td>
                            <td>{{userStats.2}}</td>
                        </tr>
                        <tr>
                            <td>Nombre de devis en attente</td>
                            <td>{{userStats.3}}</td>
                        </tr>
                        <tr>
                            <td>Nombre de devis annuler</td>
                            <td>{{userStats.4}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

                <div>
                <div class="table-responsive-sm">
                    <table>
                        <thead>
                            <th>n° Devis</th>
                            <th>Client</th>
                            <th>Status</th>
                            <th>Prix Final</th>
                        </thead>
                        <tbody>
                        {% for userStat in userStats.0 %}
                            
                            <tr>
                                <td>{{userStat.devis.numDevis}}</td>
                                <td>{{userStat.client.user.nom}} {{userStat.client.user.nom}}</td>
                                <td>{{userStat.devis.status}}</td>
                                <td>{{userStat.devis.prixFinal}}</td>
                                <td><a href="">Voir detail</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </section>
    {% endif %}

        </div>
    </div>

{% endblock %}
